<h1><%= @workout.name.humanize %></h1>

<%= form_for @workout, url: workout_path(@workout), method: :patch do |f| %>
	<%= f.fields_for :exercises do |exercise_form| %>
		
			<h4><%= exercise_form.object.name.humanize %></h4>
			<% if exercise_form.object.last_similar_exercise && exercise_form.object.previous_attempt.is_a?(Hash) %>
				<p>Previous Attempt: Right: <%= exercise_form.object.previous_attempt[:right] %> Left:: <%= exercise_form.object.previous_attempt[:left] %></p>
			<% else %>
				<p>Previous Attempt: <%= exercise_form.object.previous_attempt %></p>
			<% end %>

			<% if exercise_form.object.last_similar_exercise && exercise_form.object.is_weighted? %>
				<p>Previous Weight: <%= exercise_form.object.last_similar_exercise.weight%> kgs</p>
				<p>Recommnded Weight: <%= exercise_form.object.recommended_weight %> kgs</p>
			<% end %>

			<% if exercise_form.object.is_single? %>
		
				<div class="input-group">
					<%= exercise_form.number_field :right_reps, size: 3, required: true, placeholder: 'right reps', class: 'form-control' %> 
					<div class="input-group-addon">reps</div>
				</div>

				<div class="input-group">
					<%= exercise_form.number_field :left_reps, size: 3, required: true, placeholder: 'left reps', class: 'form-control' %>
					<div class="input-group-addon">reps</div>
				</div>

			<% elsif exercise_form.object.is_timed? %>

				<div class="input-group">
					<%= exercise_form.number_field :duration_completed, required: true, placeholder: 'duration completed', class: 'form-control' %> 
					<div class="input-group-addon">seconds</div>
				</div>
			<% else %>

				<div class="input-group">
					<%= exercise_form.number_field :reps, required: true, placeholder: 'total reps', class: 'form-control' %>
					<div class="input-group-addon">reps</div>
				</div>
			<% end %>	
			
			<% if exercise_form.object.is_weighted? %>
				<div class="input-group">
					<%= exercise_form.number_field :weight, required: true, placeholder: "Weight",  class: 'form-control' %>
					<div class="input-group-addon">Kgs</div>
				</div>
				<%= exercise_form.radio_button :correct_weight, :more %>
				<%= exercise_form.label(:correct_weight, "More weight next time") %>
				<%= exercise_form.radio_button :correct_weight, :same, checked: true %>
				<%= exercise_form.label(:correct_weight, "Same weight next time") %>
				<%= exercise_form.radio_button :correct_weight, :less %>
				<%= exercise_form.label(:correct_weight, "Less weight next time") %>
			<% end %>
		
	<% end %>
	<%= f.submit "Save Workout", class: 'btn btn-primary' %>
<% end %>