<h1><%= @workout.name.humanize %></h1>
	<% @exercises.each do |exercise| %>
		<h4><%= exercise.name.humanize %></h4>
		<% if exercise.is_single? %>
			<p>Left Reps: <%= exercise.results[:left] %></p>
			<p>Right Reps: <%= exercise.results[:right] %></p>
		<% elsif exercise.is_timed? %>
			<p>Duration Completed: <%= exercise.results %></p>
		<% else %>
			<p>Reps: <%= exercise.results %></p>
	<% end %>
<% end %>